.container {
  border: 2px solid sandybrown;
  height:100vh;
  width: 100%;
  display:flex;
  justify-content: center;
}

.form-container {
  width: 30%;
  height: 100vh;
  border: 2px solid green;
}

.form-container form {
  display:flex;
  flex-direction: column;
}

.form-container form label {
  margin-bottom: 20px;
  text-align: center;
}

.form-container form input {
  margin-bottom: 20px;
  width: 98%;
  height: 30px;
 
}

.memories-container{
  flex-grow: 2;
  height: 100vh;
  border: 2px solid blueviolet;
}
